html{
    background-color:rgba(136, 156, 152, 0.379);
    font-size: large;
    font-family: 'open Sans',sans-serif;
}


body{
  width: 800px;
  margin: 0 auto;
  background-color:rgba(255, 255, 255, 0.521);
  padding: 0 20px 20px 20px;     
  border: 0.5px solid black; 
  text-align: center;
}

header {
    font-size: xx-large;
    font-weight: bolder;
    text-align:center;
    padding: 20px;
    background-color: whitesmoke;
}
h2{
  font-size: large;
  font-weight: bolder;
  text-align:center; 
  border: 1px solid #000;
  margin: 10px auto;
  padding: 10px;
  background-color: whitesmoke;
}
h3{
  font-size: large;
  font-weight: bolder;
  text-align:center; 
  border: 1px solid #000;
  margin: 10px auto;
  padding: 10px;
  background-color: whitesmoke;
}
h4{
  font-size: large;
  font-weight: bolder;
  text-align:center; 
  border: 1px solid #000;
  margin: 10px auto;
  padding: 10px;
  background-color: whitesmoke;
}
h5{
  font-size: large;
  font-weight: bolder;
  text-align:center; 
  border: 1px solid #000;
  margin: 10px auto;
  padding: 10px;
  background-color: whitesmoke;
}
h6{
  font-size: large;
  font-weight: bolder;
  text-align:center; 
  border: 1px solid #000;
  margin: 10px auto;
  padding: 10px;
  background-color: whitesmoke;
}

h7{
  font-size: large;
  font-weight: bolder;
  text-align:center; 
  
  margin: 10px auto;
  padding: 10px;
}
